target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/.project
/target/
/.settings/
/.classpath
*.idea
*.iml
node_modules
/src/main/resources/static/dist/bundle.js
/.idea/
/node_modules/